---
http_interactions:
- request:
    method: get
    uri: http://api.github.com/search/repositories?order=desc&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.github.com/search/repositories?q=&order=desc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Oct 2021 19:08:59 GMT
- request:
    method: get
    uri: https://api.github.com/search/repositories?order=desc&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1633979399'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"resource":"Search","field":"q","code":"missing"}],"documentation_url":"https://docs.github.com/v3/search"}'
  recorded_at: Mon, 11 Oct 2021 19:08:59 GMT
recorded_with: VCR 6.0.0
