---
http_interactions:
- request:
    method: get
    uri: http://api.github.com/search/repositories?order=desc&per_page=5&q=tetris%20language:assembly&sort=stars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://api.github.com/search/repositories?q=tetris+language:assembly&sort=stars&per_page=5&order=desc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Oct 2021 19:03:00 GMT
- request:
    method: get
    uri: https://api.github.com/search/repositories?order=desc&per_page=5&q=tetris%20language:assembly&sort=stars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?q=tetris+language%3Aassembly&sort=stars&per_page=5&order=desc&page=2>;
        rel="next", <https://api.github.com/search/repositories?q=tetris+language%3Aassembly&sort=stars&per_page=5&order=desc&page=200>;
        rel="last"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1633979041'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2443,"incomplete_results":false,"items":[{"id":68911683,"node_id":"MDEwOlJlcG9zaXRvcnk2ODkxMTY4Mw==","name":"tetros","full_name":"daniel-e/tetros","private":false,"owner":{"login":"daniel-e","id":5294331,"node_id":"MDQ6VXNlcjUyOTQzMzE=","avatar_url":"https://avatars.githubusercontent.com/u/5294331?v=4","gravatar_id":"","url":"https://api.github.com/users/daniel-e","html_url":"https://github.com/daniel-e","followers_url":"https://api.github.com/users/daniel-e/followers","following_url":"https://api.github.com/users/daniel-e/following{/other_user}","gists_url":"https://api.github.com/users/daniel-e/gists{/gist_id}","starred_url":"https://api.github.com/users/daniel-e/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/daniel-e/subscriptions","organizations_url":"https://api.github.com/users/daniel-e/orgs","repos_url":"https://api.github.com/users/daniel-e/repos","events_url":"https://api.github.com/users/daniel-e/events{/privacy}","received_events_url":"https://api.github.com/users/daniel-e/received_events","type":"User","site_admin":false},"html_url":"https://github.com/daniel-e/tetros","description":"Tetris
        that fits into the boot sector.","fork":false,"url":"https://api.github.com/repos/daniel-e/tetros","forks_url":"https://api.github.com/repos/daniel-e/tetros/forks","keys_url":"https://api.github.com/repos/daniel-e/tetros/keys{/key_id}","collaborators_url":"https://api.github.com/repos/daniel-e/tetros/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/daniel-e/tetros/teams","hooks_url":"https://api.github.com/repos/daniel-e/tetros/hooks","issue_events_url":"https://api.github.com/repos/daniel-e/tetros/issues/events{/number}","events_url":"https://api.github.com/repos/daniel-e/tetros/events","assignees_url":"https://api.github.com/repos/daniel-e/tetros/assignees{/user}","branches_url":"https://api.github.com/repos/daniel-e/tetros/branches{/branch}","tags_url":"https://api.github.com/repos/daniel-e/tetros/tags","blobs_url":"https://api.github.com/repos/daniel-e/tetros/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/daniel-e/tetros/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/daniel-e/tetros/git/refs{/sha}","trees_url":"https://api.github.com/repos/daniel-e/tetros/git/trees{/sha}","statuses_url":"https://api.github.com/repos/daniel-e/tetros/statuses/{sha}","languages_url":"https://api.github.com/repos/daniel-e/tetros/languages","stargazers_url":"https://api.github.com/repos/daniel-e/tetros/stargazers","contributors_url":"https://api.github.com/repos/daniel-e/tetros/contributors","subscribers_url":"https://api.github.com/repos/daniel-e/tetros/subscribers","subscription_url":"https://api.github.com/repos/daniel-e/tetros/subscription","commits_url":"https://api.github.com/repos/daniel-e/tetros/commits{/sha}","git_commits_url":"https://api.github.com/repos/daniel-e/tetros/git/commits{/sha}","comments_url":"https://api.github.com/repos/daniel-e/tetros/comments{/number}","issue_comment_url":"https://api.github.com/repos/daniel-e/tetros/issues/comments{/number}","contents_url":"https://api.github.com/repos/daniel-e/tetros/contents/{+path}","compare_url":"https://api.github.com/repos/daniel-e/tetros/compare/{base}...{head}","merges_url":"https://api.github.com/repos/daniel-e/tetros/merges","archive_url":"https://api.github.com/repos/daniel-e/tetros/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/daniel-e/tetros/downloads","issues_url":"https://api.github.com/repos/daniel-e/tetros/issues{/number}","pulls_url":"https://api.github.com/repos/daniel-e/tetros/pulls{/number}","milestones_url":"https://api.github.com/repos/daniel-e/tetros/milestones{/number}","notifications_url":"https://api.github.com/repos/daniel-e/tetros/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/daniel-e/tetros/labels{/name}","releases_url":"https://api.github.com/repos/daniel-e/tetros/releases{/id}","deployments_url":"https://api.github.com/repos/daniel-e/tetros/deployments","created_at":"2016-09-22T10:42:55Z","updated_at":"2021-09-29T15:32:32Z","pushed_at":"2016-12-18T13:32:27Z","git_url":"git://github.com/daniel-e/tetros.git","ssh_url":"git@github.com:daniel-e/tetros.git","clone_url":"https://github.com/daniel-e/tetros.git","svn_url":"https://github.com/daniel-e/tetros","homepage":"","size":171,"stargazers_count":729,"watchers_count":729,"language":"Assembly","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":41,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":41,"open_issues":0,"watchers":729,"default_branch":"master","score":1.0},{"id":8688362,"node_id":"MDEwOlJlcG9zaXRvcnk4Njg4MzYy","name":"Nand2Tetris","full_name":"havivha/Nand2Tetris","private":false,"owner":{"login":"havivha","id":2629901,"node_id":"MDQ6VXNlcjI2Mjk5MDE=","avatar_url":"https://avatars.githubusercontent.com/u/2629901?v=4","gravatar_id":"","url":"https://api.github.com/users/havivha","html_url":"https://github.com/havivha","followers_url":"https://api.github.com/users/havivha/followers","following_url":"https://api.github.com/users/havivha/followin[...]
